@import url("@src/variables.css");

.itineraries-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: var(--border-ref);
}

.card {
  display: flex;
  flex-direction: column;
  width: auto;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bckgColor);
  gap: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  text-align: center;
}

.reserve-button {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: var(--mainColor);
  color: var(--light);
  padding: var(--spacing-ref);
  margin: 0 auto;
  height: 2.5rem;
  border-radius: var(--border-ref);
  border: 0px solid;
  cursor: pointer;
}
